* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #efefef;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section {
  text-align: left;
  width: 400px;
  padding: 1em;
  background: #fff;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

form {
  margin-bottom: 30px;
}
form h3 {
  text-align: center;
  margin: 1em;
}

.form-control {
  display: flex;
  background: #ff0;
}

.form-control input {
  flex: 1;
}
input, button {
  padding: 5px;
}
button {
  padding: 5px 10px;
}

.todo-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px 0;
}
.todo-item .title {
  margin-right: auto;
}
.btn-container button {
  border: none;
  background: transparent;
}

.delete-btn {
  color: red;
}
.clear-btn {
  margin: 1em 0;
}

.alert {
  text-align: center;
  padding: 5px;
  font-size: small;
}
.alert-success {
  background: rgb(176, 235, 181);
  color: #fff;
}
.alert-danger {
  background: #f99;
  color: #fff;
}